# Decision Tree

In [1]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing

In [2]:
decision_tree=pd.read_excel("Bank_Personal_Loan_Modelling.xlsx",sheet_name=1)

In [3]:
decision_tree.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [4]:
decision_tree.isnull().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

There is no any missing value in data

# creating model

In [5]:
tree_model=tree.DecisionTreeClassifier(max_depth=8)

In [14]:
decision_tree.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [21]:
independent_variable=pd.DataFrame([decision_tree["Age"],decision_tree["Experience"],decision_tree["Income"],decision_tree["Family"],decision_tree["CCAvg"],decision_tree["Education"],decision_tree["Mortgage"],decision_tree["Securities Account"],decision_tree["CD Account"],decision_tree["Online"],decision_tree["CreditCard"]]).T

In [22]:
tree_model.fit(X=pd.DataFrame(independent_variable),y=decision_tree["Personal Loan"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=8, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [27]:
with open ("tree.dot",'w') as f:
    f=tree.export_graphviz(tree_model,feature_names=["Income","Age","Experience","Family","CCAvg","Education","Mortgage","Securities Account","CD Account","Online","CreditCard"],out_file=f)

# Random forest

In [28]:
from sklearn.ensemble import RandomForestClassifier

In [29]:
rf=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [30]:
decision_tree

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,29,3,40,92697,1,1.9,3,0,0,0,0,1,0
4996,4997,30,4,15,92037,4,0.4,1,85,0,0,0,1,0
4997,4998,63,39,24,93023,2,0.3,3,0,0,0,0,0,0
4998,4999,65,40,49,90034,3,0.5,2,0,0,0,0,1,0
4999,5000,28,4,83,92612,3,0.8,1,0,0,0,0,1,1

In [31]:
bank_loan=decision_tree

In [32]:
bank_loan.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [34]:
bank_loan.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

# creating model for random forest

In [39]:
rf.fit(X=independent_variable,y=bank_loan["Personal Loan"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [46]:
OOB_Accuracy=print(rf.oob_score_);

0.9874

In [61]:
for feature,imp in zip(independent_variable,rf.feature_importances_):
    print(independent_variable,imp);

       Age  Experience  Income  Family  CCAvg  Education  Mortgage  \
0     25.0         1.0    49.0     4.0    1.6        1.0       0.0
1     45.0        19.0    34.0     3.0    1.5        1.0       0.0
2     39.0        15.0    11.0     1.0    1.0        1.0       0.0
3     35.0         9.0   100.0     1.0    2.7        2.0       0.0
4     35.0         8.0    45.0     4.0    1.0        2.0       0.0
...    ...         ...     ...     ...    ...        ...       ...
4995  29.0         3.0    40.0     1.0    1.9        3.0       0.0
4996  30.0         4.0    15.0     4.0    0.4        1.0      85.0
4997  63.0        39.0    24.0     2.0    0.3        3.0       0.0
4998  65.0        40.0    49.0     3.0    0.5        2.0       0.0
4999  28.0         4.0    83.0     3.0    0.8        1.0       0.0

      Securities Account  CD Account  Online  CreditCard
0                    1.0         0.0     0.0         0.0
1                    1.0         0.0     0.0         0.0
2                    0.0         0.0     0.0         0.0
3                    0.0         0.0     0.0         0.0
4                    0.0         0.0     0.0         1.0
...                  ...         ...     ...         ...
4995                 0.0         0.0     1.0         0.0
4996                 0.0         0.0     1.0         0.0
4997                 0.0         0.0     0.0         0.0
4998                 0.0         0.0     1.0         0.0
4999                 0.0         0.0     1.0         1.0

[5000 rows x 11 columns] 0.04559911480666917
       Age  Experience  Income  Family  CCAvg  Education  Mortgage  \
0     25.0         1.0    49.0     4.0    1.6        1.0       0.0
1     45.0        19.0    34.0     3.0    1.5        1.0       0.0
2     39.0        15.0    11.0     1.0    1.0        1.0       0.0
3     35.0         9.0   100.0     1.0    2.7        2.0       0.0
4     35.0         8.0    45.0     4.0    1.0        2.0       0.0
...    ...         ...     ...     ...    ...        ...       ...
4995  29.0         3.0    40.0     1.0    1.9        3.0       0.0
4996  30.0         4.0    15.0     4.0    0.4        1.0      85.0
4997  63.0        39.0    24.0     2.0    0.3        3.0       0.0
4998  65.0        40.0    49.0     3.0    0.5        2.0       0.0
4999  28.0         4.0    83.0     3.0    0.8        1.0       0.0

      Securities Account  CD Account  Online  CreditCard
0                    1.0         0.0     0.0         0.0
1                    1.0         0.0     0.0         0.0
2                    0.0         0.0     0.0         0.0
3                    0.0         0.0     0.0         0.0
4                    0.0         0.0     0.0         1.0
...                  ...         ...     ...         ...
4995                 0.0         0.0     1.0         0.0
4996                 0.0         0.0     1.0         0.0
4997                 0.0         0.0     0.0         0.0
4998                 0.0         0.0     1.0         0.0
4999                 0.0         0.0     1.0         1.0

[5000 rows x 11 columns] 0.0442805161819834
       Age  Experience  Income  Family  CCAvg  Education  Mortgage  \
0     25.0         1.0    49.0     4.0    1.6        1.0       0.0
1     45.0        19.0    34.0     3.0    1.5        1.0       0.0
2     39.0        15.0    11.0     1.0    1.0        1.0       0.0
3     35.0         9.0   100.0     1.0    2.7        2.0       0.0
4     35.0         8.0    45.0     4.0    1.0        2.0       0.0
...    ...         ...     ...     ...    ...        ...       ...
4995  29.0         3.0    40.0     1.0    1.9        3.0       0.0
4996  30.0         4.0    15.0     4.0    0.4        1.0      85.0
4997  63.0        39.0    24.0     2.0    0.3        3.0       0.0
4998  65.0        40.0    49.0     3.0    0.5        2.0       0.0
4999  28.0         4.0    83.0     3.0    0.8        1.0       0.0

      Securities Account  CD Account  Online  CreditCard
0                    1.0         0.0     0.0         0.0
1                    1.0         0.0     0.0         0.0
2                    0.0         0.0     0.0         0.0
3                    0.0         0.0     0.0         0.0
4                    0.0         0.0     0.0         1.0
...                  ...         ...     ...         ...
4995                 0.0         0.0     1.0         0.0
4996                 0.0         0.0     1.0         0.0
4997                 0.0         0.0     0.0         0.0
4998                 0.0         0.0     1.0         0.0
4999                 0.0         0.0     1.0         1.0

[5000 rows x 11 columns] 0.3424181834191107
       Age  Experience  Income  Family  CCAvg  Education  Mortgage  \
0     25.0         1.0    49.0     4.0    1.6        1.0       0.0
1     45.0        19.0    34.0     3.0    1.5        1.0       0.0
2     39.0        15.0    11.0     1.0    1.0        1.0       0.0
3     35.0         9.0   100.0     1.0    2.7        2.0       0.0
4     35.0         8.0    45.0     4.0    1.0        2.0       0.0
...    ...         ...     ...     ...    ...        ...       ...
4995  29.0         3.0    40.0     1.0    1.9        3.0       0.0
4996  30.0         4.0    15.0     4.0    0.4        1.0      85.0
4997  63.0        39.0    24.0     2.0    0.3        3.0       0.0
4998  65.0        40.0    49.0     3.0    0.5        2.0       0.0
4999  28.0         4.0    83.0     3.0    0.8        1.0       0.0

      Securities Account  CD Account  Online  CreditCard
0                    1.0         0.0     0.0         0.0
1                    1.0         0.0     0.0         0.0
2                    0.0         0.0     0.0         0.0
3                    0.0         0.0     0.0         0.0
4                    0.0         0.0     0.0         1.0
...                  ...         ...     ...         ...
4995                 0.0         0.0     1.0         0.0
4996                 0.0         0.0     1.0         0.0
4997                 0.0         0.0     0.0         0.0
4998                 0.0         0.0     1.0         0.0
4999                 0.0         0.0     1.0         1.0

[5000 rows x 11 columns] 0.0985754290896743
       Age  Experience  Income  Family  CCAvg  Education  Mortgage  \
0     25.0         1.0    49.0     4.0    1.6        1.0       0.0
1     45.0        19.0    34.0     3.0    1.5        1.0       0.0
2     39.0        15.0    11.0     1.0    1.0        1.0       0.0
3     35.0         9.0   100.0     1.0    2.7        2.0       0.0
4     35.0         8.0    45.0     4.0    1.0        2.0       0.0
...    ...         ...     ...     ...    ...        ...       ...
4995  29.0         3.0    40.0     1.0    1.9        3.0       0.0
4996  30.0         4.0    15.0     4.0    0.4        1.0      85.0
4997  63.0        39.0    24.0     2.0    0.3        3.0       0.0
4998  65.0        40.0    49.0     3.0    0.5        2.0       0.0
4999  28.0         4.0    83.0     3.0    0.8        1.0       0.0

      Securities Account  CD Account  Online  CreditCard
0                    1.0         0.0     0.0         0.0
1                    1.0         0.0     0.0         0.0
2                    0.0         0.0     0.0         0.0
3                    0.0         0.0     0.0         0.0
4                    0.0         0.0     0.0         1.0
...                  ...         ...     ...         ...
4995                 0.0         0.0     1.0         0.0
4996                 0.0         0.0     1.0         0.0
4997                 0.0         0.0     0.0         0.0
4998                 0.0         0.0     1.0         0.0
4999                 0.0         0.0     1.0         1.0

[5000 rows x 11 columns] 0.1774575178862128
       Age  Experience  Income  Family  CCAvg  Education  Mortgage  \
0     25.0         1.0    49.0     4.0    1.6        1.0       0.0
1     45.0        19.0    34.0     3.0    1.5        1.0       0.0
2     39.0        15.0    11.0     1.0    1.0        1.0       0.0
3     35.0         9.0   100.0     1.0    2.7        2.0       0.0
4     35.0         8.0    45.0     4.0    1.0        2.0       0.0
...    ...         ...     ...     ...    ...        ...       ...
4995  29.0         3.0    40.0     1.0    1.9        3.0       0.0
4996  30.0         4.0    15.0     4.0    0.4        1.0      85.0
4997  63.0        39.0    24.0     2.0    0.3        3.0       0.0
4998  65.0        40.0    49.0     3.0    0.5        2.0       0.0
4999  28.0         4.0    83.0     3.0    0.8        1.0       0.0

      Securities Account  CD Account  Online  CreditCard
0                    1.0         0.0     0.0         0.0
1                    1.0         0.0     0.0         0.0
2                    0.0         0.0     0.0         0.0
3                    0.0         0.0     0.0         0.0
4                    0.0         0.0     0.0         1.0
...                  ...         ...     ...         ...
4995                 0.0         0.0     1.0         0.0
4996                 0.0         0.0     1.0         0.0
4997                 0.0         0.0     0.0         0.0
4998                 0.0         0.0     1.0         0.0
4999                 0.0         0.0     1.0         1.0

[5000 rows x 11 columns] 0.1691208442105555
       Age  Experience  Income  Family  CCAvg  Education  Mortgage  \
0     25.0         1.0    49.0     4.0    1.6        1.0       0.0
1     45.0        19.0    34.0     3.0    1.5        1.0       0.0
2     39.0        15.0    11.0     1.0    1.0        1.0       0.0
3     35.0         9.0   100.0     1.0    2.7        2.0       0.0
4     35.0         8.0    45.0     4.0    1.0        2.0       0.0
...    ...         ...     ...     ...    ...        ...       ...
4995  29.0         3.0    40.0     1.0    1.9        3.0       0.0
4996  30.0         4.0    15.0     4.0    0.4        1.0      85.0
4997  63.0        39.0    24.0     2.0    0.3        3.0       0.0
4998  65.0        40.0    49.0     3.0    0.5        2.0       0.0
4999  28.0         4.0    83.0     3.0    0.8        1.0       0.0

      Securities Account  CD Account  Online  CreditCard
0                    1.0         0.0     0.0         0.0
1                    1.0         0.0     0.0         0.0
2                    0.0         0.0     0.0         0.0
3                    0.0         0.0     0.0         0.0
4                    0.0         0.0     0.0         1.0
...                  ...         ...     ...         ...
4995                 0.0         0.0     1.0         0.0
4996                 0.0         0.0     1.0         0.0
4997                 0.0         0.0     0.0         0.0
4998                 0.0         0.0     1.0         0.0
4999                 0.0         0.0     1.0         1.0

[5000 rows x 11 columns] 0.044022330656287675
       Age  Experience  Income  Family  CCAvg  Education  Mortgage  \
0     25.0         1.0    49.0     4.0    1.6        1.0       0.0
1     45.0        19.0    34.0     3.0    1.5        1.0       0.0
2     39.0        15.0    11.0     1.0    1.0        1.0       0.0
3     35.0         9.0   100.0     1.0    2.7        2.0       0.0
4     35.0         8.0    45.0     4.0    1.0        2.0       0.0
...    ...         ...     ...     ...    ...        ...       ...
4995  29.0         3.0    40.0     1.0    1.9        3.0       0.0
4996  30.0         4.0    15.0     4.0    0.4        1.0      85.0
4997  63.0        39.0    24.0     2.0    0.3        3.0       0.0
4998  65.0        40.0    49.0     3.0    0.5        2.0       0.0
4999  28.0         4.0    83.0     3.0    0.8        1.0       0.0

      Securities Account  CD Account  Online  CreditCard
0                    1.0         0.0     0.0         0.0
1                    1.0         0.0     0.0         0.0
2                    0.0         0.0     0.0         0.0
3                    0.0         0.0     0.0         0.0
4                    0.0         0.0     0.0         1.0
...                  ...         ...     ...         ...
4995                 0.0         0.0     1.0         0.0
4996                 0.0         0.0     1.0         0.0
4997                 0.0         0.0     0.0         0.0
4998                 0.0         0.0     1.0         0.0
4999                 0.0         0.0     1.0         1.0

[5000 rows x 11 columns] 0.005769883246716255
       Age  Experience  Income  Family  CCAvg  Education  Mortgage  \
0     25.0         1.0    49.0     4.0    1.6        1.0       0.0
1     45.0        19.0    34.0     3.0    1.5        1.0       0.0
2     39.0        15.0    11.0     1.0    1.0        1.0       0.0
3     35.0         9.0   100.0     1.0    2.7        2.0       0.0
4     35.0         8.0    45.0     4.0    1.0        2.0       0.0
...    ...         ...     ...     ...    ...        ...       ...
4995  29.0         3.0    40.0     1.0    1.9        3.0       0.0
4996  30.0         4.0    15.0     4.0    0.4        1.0      85.0
4997  63.0        39.0    24.0     2.0    0.3        3.0       0.0
4998  65.0        40.0    49.0     3.0    0.5        2.0       0.0
4999  28.0         4.0    83.0     3.0    0.8        1.0       0.0

      Securities Account  CD Account  Online  CreditCard
0                    1.0         0.0     0.0         0.0
1                    1.0         0.0     0.0         0.0
2                    0.0         0.0     0.0         0.0
3                    0.0         0.0     0.0         0.0
4                    0.0         0.0     0.0         1.0
...                  ...         ...     ...         ...
4995                 0.0         0.0     1.0         0.0
4996                 0.0         0.0     1.0         0.0
4997                 0.0         0.0     0.0         0.0
4998                 0.0         0.0     1.0         0.0
4999                 0.0         0.0     1.0         1.0

[5000 rows x 11 columns] 0.05447842060097345
       Age  Experience  Income  Family  CCAvg  Education  Mortgage  \
0     25.0         1.0    49.0     4.0    1.6        1.0       0.0
1     45.0        19.0    34.0     3.0    1.5        1.0       0.0
2     39.0        15.0    11.0     1.0    1.0        1.0       0.0
3     35.0         9.0   100.0     1.0    2.7        2.0       0.0
4     35.0         8.0    45.0     4.0    1.0        2.0       0.0
...    ...         ...     ...     ...    ...        ...       ...
4995  29.0         3.0    40.0     1.0    1.9        3.0       0.0
4996  30.0         4.0    15.0     4.0    0.4        1.0      85.0
4997  63.0        39.0    24.0     2.0    0.3        3.0       0.0
4998  65.0        40.0    49.0     3.0    0.5        2.0       0.0
4999  28.0         4.0    83.0     3.0    0.8        1.0       0.0

      Securities Account  CD Account  Online  CreditCard
0                    1.0         0.0     0.0         0.0
1                    1.0         0.0     0.0         0.0
2                    0.0         0.0     0.0         0.0
3                    0.0         0.0     0.0         0.0
4                    0.0         0.0     0.0         1.0
...                  ...         ...     ...         ...
4995                 0.0         0.0     1.0         0.0
4996                 0.0         0.0     1.0         0.0
4997                 0.0         0.0     0.0         0.0
4998                 0.0         0.0     1.0         0.0
4999                 0.0         0.0     1.0         1.0

[5000 rows x 11 columns] 0.008222923932675727
       Age  Experience  Income  Family  CCAvg  Education  Mortgage  \
0     25.0         1.0    49.0     4.0    1.6        1.0       0.0
1     45.0        19.0    34.0     3.0    1.5        1.0       0.0
2     39.0        15.0    11.0     1.0    1.0        1.0       0.0
3     35.0         9.0   100.0     1.0    2.7        2.0       0.0
4     35.0         8.0    45.0     4.0    1.0        2.0       0.0
...    ...         ...     ...     ...    ...        ...       ...
4995  29.0         3.0    40.0     1.0    1.9        3.0       0.0
4996  30.0         4.0    15.0     4.0    0.4        1.0      85.0
4997  63.0        39.0    24.0     2.0    0.3        3.0       0.0
4998  65.0        40.0    49.0     3.0    0.5        2.0       0.0
4999  28.0         4.0    83.0     3.0    0.8        1.0       0.0

      Securities Account  CD Account  Online  CreditCard
0                    1.0         0.0     0.0         0.0
1                    1.0         0.0     0.0         0.0
2                    0.0         0.0     0.0         0.0
3                    0.0         0.0     0.0         0.0
4                    0.0         0.0     0.0         1.0
...                  ...         ...     ...         ...
4995                 0.0         0.0     1.0         0.0
4996                 0.0         0.0     1.0         0.0
4997                 0.0         0.0     0.0         0.0
4998                 0.0         0.0     1.0         0.0
4999                 0.0         0.0     1.0         1.0

[5000 rows x 11 columns] 0.010054835969141024